---
title: Projects
date: 2015-11-29 21:00:03
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
<div class="col-md-12 col-sm-12">
  <div class="content-page">
    <div class="filter-v1">
      <ul class="mix-filter">
	<li data-filter="all" class="filter active">All</li>
	<li data-filter="category_1" class="filter">UI Design</li>
	<li data-filter="category_2" class="filter">Web Development</li>
	<li data-filter="category_3" class="filter">Photography</li>
	<li data-filter="category_3 category_1" class="filter">Wordpress and Logo</li>
      </ul>
      <div class="row mix-grid thumbnails">
	<div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img1.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name"
		href="/metronic/assets/pages/img/works/img1.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
	    </div>           
	  </div>                       
	</div>
	<div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name This is all we
	      have <br>hi<br>" href="/metronic/assets/pages/img/works/img2.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
	    </div>               
	  </div>                    
	</div>
	<div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img3.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
	    </div>              
	  </div>      
	</div>
	<div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img4.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img4.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>                            
	    </div>                  
	  </div>                      
	</div>
	<div class="col-md-4 col-sm-6 mix category_2 category_1 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img5.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img5.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>                            
	    </div>     
	  </div>                                   
	</div>
	<div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img6.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img6.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>                            
	    </div>     
	  </div>                                   
	</div>
	<div class="col-md-4 col-sm-6 mix category_2 category_3 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img1.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img1.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>                            
	    </div>    
	  </div>                                    
	</div>
	<div class="col-md-4 col-sm-6 mix category_1 category_2 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img2.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img2.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>                            
	    </div>   
	  </div>                                     
	</div>
	<div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img4.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="metronic/assets/pages/img/works/img4.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>                            
	    </div>    
	  </div>                                    
	</div>
	<div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	  <div class="mix-inner">
	    <img alt="" src="/metronic/assets/pages/img/works/img3.jpg" class="img-responsive">
	    <div class="mix-details">
	      <h4>Cascusamus et iusto odio</h4>
	      <p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti atque corrupti quos dolores.</p>
	      <a class="mix-link"><i class="fa fa-link"></i></a>
	      <a data-rel="fancybox-button" title="Project Name" href="/metronic/assets/pages/img/works/img3.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
	    </div> 
	  </div>                                       
	</div>
      </div>
    </div>
  </div>
</div>
</div>
