#health{
  h1.section-title {
    color: $brand;
    margin-left: 150px;
    }

  h3.headings {
    color: #494949;
    margin-left: 150px;
    }

  p {
    margin-left: 150px;
    }

 .gallery {
    margin-left: 150px;
  }

  ul {
    margin-left: 175px;
  }

  img {
    width: 200px;
}
}
