.content-section {
  padding: $base-spacing * 4 0; 
  height: auto;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }

  @media (max-width: $tablet) {
    padding: $base-spacing * 2 0;
  }

  h1.section-title {
    margin: 0 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: $tablet) {
      margin: $base-spacing * 2 0 $base-spacing;
      text-align: left;
    }
  }

  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;
    font-size: 21px;
    line-height: 2em; 
  }
}

section.divider {
  margin: $base-spacing * 4 auto;

  hr {
    border-bottom: 1px solid $brand;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: $base-spacing * 20;
    left: 0;
    right: 0;
    z-index: 9;
  }

  .icon {
    width: $base-spacing * 6;
    top: 0;
    bottom: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    padding: $base-spacing;
    z-index: 10;
    background: $light-grey;
  }
}

#home {
  margin-top: - $menu-height; // center in viewport, regardless of menu height
  height: 115vh;
  background: -moz-linear-gradient(270deg, rgba(101,45,237,1) 12%, rgba(250, 250, 250,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, rgba(101,45,237,1)), color-stop(100%, rgba(250, 250, 250,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(101,45,237,1) 12%, rgba(250, 250, 250,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(101,45,237,1) 12%, rgba(250, 250, 250,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(101,45,237,1) 12%, rgba(250, 250, 250,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(101,45,237,1) 12%, rgba(250, 250, 250,1) 100%); /* w3c */

  .hero {
    height: 250px;
    position: absolute;
    z-index: 2;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a.btn {
    border-color: white;
    color: white;

    svg {
      display: inline-block;
      float: right;
      height: 29px;
    }

    &:hover,&:active,&:focus {
      border: 2px solid $white;
      outline: none;
      color: $brand;
      background-color: $white;

      svg  > style{
        fill: $brand;
      }
    }
  }

  h1 {
    color: $white;
    font-size: 42px;

    @media (max-width: $tablet) {
      font-size: 26px;
    }
  }

}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  height: 100%;
  background-color: $alt-white;

  @media (max-width: $tablet) {
    padding: $base-spacing * 4 0 $base-spacing * 6 0;
  }

  h2.section-title {
    color: $brand;
  }

  svg.logo {
    width: 90px;
    display: none;
    margin: $base-spacing * 2 auto;
  }

  .about{
    margin: 0 0 $base-spacing 0;

    p {
      color: $copy;
      text-align: left;
    }
  }
}

#projects {
  min-height: 100vh;
  background-color: $white;

  .bio {
    margin-top: $base-spacing * 4;

    .inner {
      background: $border-grey;
    }

    &.first {
      margin-top: $base-spacing;
    }

    @media (max-width: $tablet) {
      margin-bottom: $base-spacing * 12;
    }

    h4 {
      color: $copy;
      text-align: center;
      margin-top: $base-spacing;
      padding-bottom: $base-spacing;
    }
  }

  h2.section-title {
    color: $copy;

    @media (max-width: $tablet) {
      display: block;
      margin-bottom: $base-spacing * 4;

    }
  }

  svg {
    width: $base-spacing * 10;
    position: relative;
    display: block;
    height: $base-spacing * 8;
    margin: $base-spacing * 2 auto 0;

    &#nectar-logo {
      width: $base-spacing * 8;
    }

    .cls-1 {
      fill: $brand;
    }
  }

  a.btn {
    display: block;
    margin: $base-spacing * 2 auto;
    width: $base-spacing * 8;
  }

}

#services {
  background-color: $alt-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  height: 100%;

  @media (max-width: $tablet) {
    padding: $base-spacing * 4 0 $base-spacing * 8 0;
  } 
  
  h4 {
    color: $brand;
    letter-spacing: 1.1px;
  }

  h1 {
    margin-top: $base-spacing * 2;
    color: $copy;
  }

  .service {

    ul {
      padding: 0;
      text-align: center;
    }

    ul li {
      list-style: none;
      font-size: 1.5em;
      font-weight: 300;
      line-height: 2em; 
    }
  }

}

#feature-post {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  height: 100%;

  @media (max-width: $tablet) {
    padding-bottom: $base-spacing * 8;
  }

  h1, h2 {
    color: $copy;
  }
  
  h5.info {
    color: $grey;
    margin-top: 0;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  p {
    color: $copy;
  }

  a.read-more {
    margin-top: $base-spacing;
  }
}

#health {
  margin-top: 100px;
  h2 {
    color: black;
  }
}
#public-computers{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  height: 100%;
  background-color: $alt-white;

  @media (max-width: $tablet) {
    padding: $base-spacing * 4 0 $base-spacing * 6 0;
  }
  h2.section-title{
    color: #000000;
    padding-left: 200px;
    padding-bottom: 10px;
  }
  a{
    color:$brand;
    text-align:center;

  }
  ul{
    padding-bottom: 30px;
    padding-left: 230px;
}

}