h1.post-title {
  text-align: center;
  color: $brand !important;
  margin: 0 0 0 0;
}

.post-meta {
  margin-top: $base-spacing * 2;;
  text-align: center;

  h5 {
    font-family: 'Gill Sans', Arial, sans-serif;
    letter-spacing: 1px;

    span.date {
      color: $grey;
    }
  }

}

.post-body {
  padding-top: $base-spacing;

  img {
    max-width: 100%;
    margin: $base-spacing * 2 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', Arial, sans-serif;
    letter-spacing: 0px;
  }

  strong {
    font-weight: 600;
    letter-spacing: 1px;
  }

  p, li {
    font-size: 19px;
  }
}

nav.pagination {
  margin: $base-spacing * 4 0;
}

#archive .gift-guide {
  .guide {
    column-fill: balance;

    @media (min-width: $mobile) {
      columns: 2;
      column-gap: 30px;
    }

    @media (min-width: 992px) {
      columns: 3;
    }
  }

  .gift {
    break-inside: avoid;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
    text-align: center;

    @media (min-width: $mobile) {
      max-width: 500px;
    }

    &:nth-of-type(odd) {
      border: 1px solid $brand;
    }

    &:nth-of-type(even) {
      background: $light-grey;
    }

    h4 {
      font-weight: 400;
    }

    h5 {
      margin: 0;
    }

    h3,
    h4 {
      margin: 0px 0px 10px;
    }

    h3,
    h4,
    h5,
    p {
      text-align: left;
    }

    img {
      margin: 0 0 15px;
    }

    a:after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
    }

    .twitter-tweet {
      width: auto !important; // roast me
    }

    .img-wrapper {
      position: relative;
    }

    .tout {
      background: rgba(255,255,255,.8);
      color: black;
      display: block;
      font: 11px Courier, serif;
      max-width: 150px;
      position: absolute;
      text-align: left;
    }

    &:nth-of-type(3n) .tout {
      top: 70%;
      right: -30px;

      &:nth-of-type(4n) {
        left: -30px;
        right: unset;
        top: 20%;
      }

      &:nth-of-type(4n+2) {
        top: 35%;
      }

      &:nth-of-type(4n+3) {
        left: -30px;
        right: unset;
        top: 60%;
      }
    }

    &:nth-of-type(3n+1) .tout {
      left: -30px;
      top: 25%;

      &:nth-of-type(4n) {
        left: unset;
        right: -30px;
        top: 75%;
      }

      &:nth-of-type(4n+2) {
        top: 60%;
      }

      &:nth-of-type(4n+3) {
        left: unset;
        right: -30px;
        top: 35%;
      }
    }

    &:nth-of-type(3n+2) .tout {
      right: -30px;
      top: 75%;

      &:nth-of-type(4n) {
        left: -30px;
        right: unset;
        top: 25%;
      }

      &:nth-of-type(4n+2) {
        top: 40%;
      }

      &:nth-of-type(4n+3) {
        left: -30px;
        right: unset;
        top: 60%;
      }
    }
  }
}


