// vendor
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower_components/wow/dist/wow.min.js")
script(src="/bower_components/jquery-easing/jquery.easing.min.js")
script(src="/bower_components/jquery-color/jquery.color.js")
script(src="/bower_components/scrollmagic/scrollmagic/minified/ScrollMagic.min.js")
script(src="/bower_components/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js")
script(src="/bower_components/vivus/dist/vivus.min.js")
script(type="module" src='/js/app/heater.js')

// require modules
script(src='/js/require.js')
script(src='/js/app.js')

// analytics
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-76214412-1', 'auto');
  ga('send', 'pageview');
