footer.footer
  .container
    .row
      .col-sm-3
        h4 Address
        address
          | Computer Lab
          br
          | 260 W. Broadway 
          br
          | Suite #2
          br
          | New York, NY 10013
        span &copy; 2016-2024 Computer Lab
      .col-sm-3
      .col-sm-3
        h4 Connect
        ul
          li 
            a(href='https://accesskit.media') AccessKit
          li 
            a(target='_blank' href="https://confirmsubscription.com/h/j/53E8DEBA95C07A35") Mailing List
          li 
            a(target='_blank' href="https://github.com/computer-lab") GitHub
          li 
            a(target='_blank' href="https://www.linkedin.com/company/computer-lab-ny") LinkedIn
          li 
            a(target='_blank' href="https://twitter.com/computerlab_") Twitter
          li 
            a(target='_blank' href="https://www.facebook.com/hicomputerlab") Facebook
      .col-sm-3
        h4 Inquiries
        ul
          li 
            a(href='mailto:hi@computerlab.io?Subject=Inquiry') hi@computerlab.io
          li
            a(href='tel:17187755698') +1 (718) 775-5698
          br
          li 
            a(href='https://app.hellobonsai.com/join/computer-lab') Want to join our talent pool?
          li 
            a(href='/public-computers') Looking for a public computer lab?

