// Nav
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      a.navbar-brand(href='/') 
        svg.logo(id='logo-svg' version='1.0', xmlns='http://www.w3.org/2000/svg', width='85px', height='85px' viewbox='0 0 54.5 54.5')
          defs
            style.
              .cls-1{fill:#fff;}.cls-2{fill: #{config.brand_color};}
          title Computer Lab Logo
          g#Layer_2(data-name='Layer 2')
            g#Layer_1-2(data-name='Layer 1')
              path.cls-1(d='M20.63,24.94v1.61a24.74,24.74,0,0,1-3-1.4,18.11,18.11,0,0,1-2.94-2V21.75c.58.41,1.23.83,1.94,1.24A26.41,26.41,0,0,0,20.63,24.94Z', transform='translate(-0.25 -0.25)')
              path.cls-1(d='M20.79,29.31c.18.11.33,0,.34-.18a.77.77,0,0,0-.32-.59L19.58,28c-.18-.12-.33,0-.34.18a.72.72,0,0,0,.32.58ZM14,23.61a18.31,18.31,0,0,0,3.23,2.22,30.71,30.71,0,0,0,4.1,1.81h.06s.06,0,.06-.09h1.35V47.29l-.26,0c-.93,0-2.67-.47-5.6-2.16s-3.66-2.6-3.74-3.16V23.4h.69A.31.31,0,0,0,14,23.61ZM17,37c.38.22.69,0,.69-.4a1.54,1.54,0,0,0-.69-1.2c-.39-.23-.7,0-.7.4A1.52,1.52,0,0,0,17,37Z', transform='translate(-0.25 -0.25)')
              path.cls-1(d='M40,12.1V37.49L23.8,46.82l-.13.08V22.29c0-.61.11-.74.42-.95C24.74,20.9,34.63,15.18,40,12.1Z', transform='translate(-0.25 -0.25)')
              path.cls-1(d='M13.85,20.33V23.4h-.69V16.19a.66.66,0,0,1,.25-.45L14,15.4,30.16,6.06l9.22,5.33c-2.35,1.35-15,8.66-15.81,9.2a1.75,1.75,0,0,0-.81,1.7v5.27H21.41v-3a.22.22,0,0,0-.12-.21,23.69,23.69,0,0,1-4.32-2,21.65,21.65,0,0,1-3-2s0,0-.05,0S13.85,20.27,13.85,20.33Z', transform='translate(-0.25 -0.25)')
              path.cls-1(d='M16.44,45.93c2.63,1.52,4.66,2.29,6.06,2.29A2.3,2.3,0,0,0,23.67,48l.59-.34,16.16-9.33.46-.26V31.39l.44-.26a4.37,4.37,0,0,1,3.83,0l7.32,4.23a25.4,25.4,0,1,1,.27-.9L45.6,30.35a5.14,5.14,0,0,0-4.72,0V11.2l-.46-.26L30.61,5.28,30.16,5l-.45.27L13.54,14.61l-.59.34a1.56,1.56,0,0,0-.69,1.1V42.12C12.36,42.83,12.92,43.9,16.44,45.93Z', transform='translate(-0.25 -0.25)')
              path.cls-2(d='M20.81,28.54a.77.77,0,0,1,.32.59c0,.21-.16.29-.34.18l-1.23-.59a.72.72,0,0,1-.32-.58c0-.22.16-.3.34-.18Z', transform='translate(-0.25 -0.25)')
              path.cls-2(d='M17.7,36.59c0,.44-.31.62-.69.4a1.52,1.52,0,0,1-.7-1.2c0-.45.31-.63.7-.4A1.54,1.54,0,0,1,17.7,36.59Z', transform='translate(-0.25 -0.25)')
              path.cls-2(d='M20.63,24.94a26.41,26.41,0,0,1-4-2c-.71-.41-1.36-.83-1.94-1.24v1.41a18.11,18.11,0,0,0,2.94,2,24.74,24.74,0,0,0,3,1.4Zm-3.44.89A18.31,18.31,0,0,1,14,23.61a.31.31,0,0,1-.11-.21V20.33c0-.06,0-.09.07-.09s0,0,.05,0a21.65,21.65,0,0,0,3,2,23.69,23.69,0,0,0,4.32,2,.22.22,0,0,1,.12.21v3q0,.09-.06.09h-.06A30.71,30.71,0,0,1,17.19,25.83Z', transform='translate(-0.25 -0.25)')
              path.cls-2(d='M40,37.49V12.1c-5.34,3.08-15.23,8.8-15.88,9.24-.31.21-.42.34-.42.95V46.9l.13-.08ZM13.16,42c.08.56.95,1.55,3.74,3.16s4.67,2.16,5.6,2.16l.26,0v-25a1.75,1.75,0,0,1,.81-1.7c.8-.54,13.46-7.85,15.81-9.2L30.16,6.06,14,15.4l-.58.34a.66.66,0,0,0-.25.45V42ZM.25,27.5A27.25,27.25,0,1,1,27.5,54.75,27.28,27.28,0,0,1,.25,27.5ZM27.5,1.32a26.18,26.18,0,1,0,25,34l-7.32-4.23a4.37,4.37,0,0,0-3.83,0l-.44.26V38l-.46.26L24.26,47.61l-.59.34a2.3,2.3,0,0,1-1.17.27c-1.4,0-3.43-.77-6.06-2.29-3.52-2-4.08-3.1-4.18-3.81V16.05a1.56,1.56,0,0,1,.69-1.1l.59-.34L29.71,5.28,30.16,5l.45.27,9.81,5.66.46.26V30.34a5.14,5.14,0,0,1,4.72,0l7.14,4.11A26.19,26.19,0,0,0,27.5,1.32Z', transform='translate(-0.25 -0.25)')
        svg.logo.filled(id='logo-svg' version='1.0', xmlns='http://www.w3.org/2000/svg', width='85px', height='85px', viewbox='0 0 613 304.5')
             g(transform='translate(0.000000,450) scale(0.100000,-0.100000)', fill='none')
               path(d='M2785 6029 c-642 -61 -1250 -332 -1732 -771 -231 -210 -443 -478\
               -597 -756 -322 -578 -440 -1266 -330 -1932 97 -594 393 -1168 824 -1600 566\
               -568 1313 -880 2109 -880 804 0 1539 305 2107 874 403 404 661 865 794 1416\
               151 629 84 1317 -187 1915 -220 486 -585 919 -1033 1227 -416 286 -907 462\
               -1420 508 -133 12 -405 11 -535 -1z m685 -133 c508 -81 980 -285 1368 -591\
               123 -98 329 -301 435 -430 537 -653 758 -1523 597 -2355 -23 -116 -48 -210\
               -56 -210 -3 0 -184 104 -404 230 -219 127 -418 237 -442 246 -116 41 -277 38\
               -391 -7 -26 -10 -50 -19 -52 -19 -3 0 -5 470 -5 1044 l0 1043 -577 333 c-318\
               183 -581 335 -585 337 -9 4 -1876 -1073 -1906 -1101 -61 -55 -57 59 -56 -1527\
               2 -1350 3 -1448 19 -1480 47 -91 175 -201 380 -324 369 -221 667 -321 807\
               -271 21 8 461 258 978 556 l940 543 0 363 0 363 63 30 c118 58 266 61 379 8\
               42 -19 814 -460 826 -472 9 -9 -95 -265 -164 -405 -95 -190 -163 -301 -279\
               -455 -475 -629 -1177 -1030 -1960 -1121 -177 -20 -586 -15 -740 10 -855 139\
               -1559 604 -2015 1329 -458 730 -554 1666 -254 2482 364 988 1255 1709 2284\
               1849 63 9 129 18 145 20 79 11 565 -3 665 -18z m388 -782 c273 -158 498 -287\
               499 -288 1 -1 -203 -121 -455 -266 -765 -442 -1253 -728 -1287 -754 -18 -14\
               -41 -42 -51 -63 -18 -37 -19 -88 -22 -1442 l-2 -1404 -61 7 c-234 24 -807 332\
               -946 508 l-33 41 0 1437 c0 1316 1 1439 16 1451 24 20 1826 1059 1837 1059 4\
               0 232 -129 505 -286z m555 -3145 c-9 -9 -1742 -1009 -1760 -1016 -17 -7 -19\
               2670 -3 2729 10 35 22 45 168 131 151 90 844 493 1352 786 l245 141 3 -1382\
               c1 -760 -1 -1385 -5 -1389z')
               path(d='M1570 3683 l0 -179 33 -31 c82 -78 323 -230 473 -299 96 -44 298\
               -124 313 -124 8 0 11 53 9 177 l-3 177 -85 33 c-186 72 -469 227 -638 351 -35\
               26 -73 53 -83 61 -18 13 -19 8 -19 -166z m255 -100 c117 -70 333 -180 423\
               -214 l62 -24 0 -87 0 -88 -52 21 c-165 64 -366 174 -515 281 l-83 59 0 80 0\
               80 33 -24 c17 -14 77 -51 132 -84z')
               path(d='M2163 3004 c-12 -33 16 -63 96 -104 90 -45 96 -46 105 -25 13 35 -13\
               64 -93 105 -90 45 -99 47 -108 24z')
               path(d='M1852 2198 c-18 -18 -15 -64 8 -108 43 -85 130 -97 130 -17 0 85 -94\
               169 -138 125z')
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
    .collapse.navbar-collapse.navbar-left.navbar-main-collapse
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li
          a.page-scroll(href='/#about') About
        li
          a.page-scroll(href='/#projects') Work
        li
          a.page-scroll(href='/#domains') Domains
        li
          a.page-scroll(href='/blog') Blog
        li
          a.page-scroll(href='/residency') Residency
