a(href='/')
  svg.logo(id='logo-svg' version='1.0', xmlns='http://www.w3.org/2000/svg', width='105px', height='180px', viewbox='0 0 613 304.5')
    g(transform='translate(0.000000,304.5) scale(0.100000,-0.100000)', fill='#652ded')
      path(d='M2785 6029 c-642 -61 -1250 -332 -1732 -771 -231 -210 -443 -478\
      -597 -756 -322 -578 -440 -1266 -330 -1932 97 -594 393 -1168 824 -1600 566\
      -568 1313 -880 2109 -880 804 0 1539 305 2107 874 403 404 661 865 794 1416\
      151 629 84 1317 -187 1915 -220 486 -585 919 -1033 1227 -416 286 -907 462\
      -1420 508 -133 12 -405 11 -535 -1z m685 -133 c508 -81 980 -285 1368 -591\
      123 -98 329 -301 435 -430 537 -653 758 -1523 597 -2355 -23 -116 -48 -210\
      -56 -210 -3 0 -184 104 -404 230 -219 127 -418 237 -442 246 -116 41 -277 38\
      -391 -7 -26 -10 -50 -19 -52 -19 -3 0 -5 470 -5 1044 l0 1043 -577 333 c-318\
      183 -581 335 -585 337 -9 4 -1876 -1073 -1906 -1101 -61 -55 -57 59 -56 -1527\
      2 -1350 3 -1448 19 -1480 47 -91 175 -201 380 -324 369 -221 667 -321 807\
      -271 21 8 461 258 978 556 l940 543 0 363 0 363 63 30 c118 58 266 61 379 8\
      42 -19 814 -460 826 -472 9 -9 -95 -265 -164 -405 -95 -190 -163 -301 -279\
      -455 -475 -629 -1177 -1030 -1960 -1121 -177 -20 -586 -15 -740 10 -855 139\
      -1559 604 -2015 1329 -458 730 -554 1666 -254 2482 364 988 1255 1709 2284\
      1849 63 9 129 18 145 20 79 11 565 -3 665 -18z m388 -782 c273 -158 498 -287\
      499 -288 1 -1 -203 -121 -455 -266 -765 -442 -1253 -728 -1287 -754 -18 -14\
      -41 -42 -51 -63 -18 -37 -19 -88 -22 -1442 l-2 -1404 -61 7 c-234 24 -807 332\
      -946 508 l-33 41 0 1437 c0 1316 1 1439 16 1451 24 20 1826 1059 1837 1059 4\
      0 232 -129 505 -286z m555 -3145 c-9 -9 -1742 -1009 -1760 -1016 -17 -7 -19\
      2670 -3 2729 10 35 22 45 168 131 151 90 844 493 1352 786 l245 141 3 -1382\
      c1 -760 -1 -1385 -5 -1389z')
      path(d='M1570 3683 l0 -179 33 -31 c82 -78 323 -230 473 -299 96 -44 298\
      -124 313 -124 8 0 11 53 9 177 l-3 177 -85 33 c-186 72 -469 227 -638 351 -35\
      26 -73 53 -83 61 -18 13 -19 8 -19 -166z m255 -100 c117 -70 333 -180 423\
      -214 l62 -24 0 -87 0 -88 -52 21 c-165 64 -366 174 -515 281 l-83 59 0 80 0\
      80 33 -24 c17 -14 77 -51 132 -84z')
      path(d='M2163 3004 c-12 -33 16 -63 96 -104 90 -45 96 -46 105 -25 13 35 -13\
      64 -93 105 -90 45 -99 47 -108 24z')
      path(d='M1852 2198 c-18 -18 -15 -64 8 -108 43 -85 130 -97 130 -17 0 85 -94\
      169 -138 125z')
a(href='/')
  svg.logo(id='logo-svg-2' version='1.0', xmlns='http://www.w3.org/2000/svg', width='105px', height='180px', viewbox='0 0 613 304.5')
    g(transform='translate(0.000000,304.5) scale(0.100000,-0.100000)', fill='#652ded')
      path(d='M2785 6029 c-642 -61 -1250 -332 -1732 -771 -231 -210 -443 -478\
      -597 -756 -322 -578 -440 -1266 -330 -1932 97 -594 393 -1168 824 -1600 566\
      -568 1313 -880 2109 -880 804 0 1539 305 2107 874 403 404 661 865 794 1416\
      151 629 84 1317 -187 1915 -220 486 -585 919 -1033 1227 -416 286 -907 462\
      -1420 508 -133 12 -405 11 -535 -1z m685 -133 c508 -81 980 -285 1368 -591\
      123 -98 329 -301 435 -430 537 -653 758 -1523 597 -2355 -23 -116 -48 -210\
      -56 -210 -3 0 -184 104 -404 230 -219 127 -418 237 -442 246 -116 41 -277 38\
      -391 -7 -26 -10 -50 -19 -52 -19 -3 0 -5 470 -5 1044 l0 1043 -577 333 c-318\
      183 -581 335 -585 337 -9 4 -1876 -1073 -1906 -1101 -61 -55 -57 59 -56 -1527\
      2 -1350 3 -1448 19 -1480 47 -91 175 -201 380 -324 369 -221 667 -321 807\
      -271 21 8 461 258 978 556 l940 543 0 363 0 363 63 30 c118 58 266 61 379 8\
      42 -19 814 -460 826 -472 9 -9 -95 -265 -164 -405 -95 -190 -163 -301 -279\
      -455 -475 -629 -1177 -1030 -1960 -1121 -177 -20 -586 -15 -740 10 -855 139\
      -1559 604 -2015 1329 -458 730 -554 1666 -254 2482 364 988 1255 1709 2284\
      1849 63 9 129 18 145 20 79 11 565 -3 665 -18z m388 -782 c273 -158 498 -287\
      499 -288 1 -1 -203 -121 -455 -266 -765 -442 -1253 -728 -1287 -754 -18 -14\
      -41 -42 -51 -63 -18 -37 -19 -88 -22 -1442 l-2 -1404 -61 7 c-234 24 -807 332\
      -946 508 l-33 41 0 1437 c0 1316 1 1439 16 1451 24 20 1826 1059 1837 1059 4\
      0 232 -129 505 -286z m555 -3145 c-9 -9 -1742 -1009 -1760 -1016 -17 -7 -19\
      2670 -3 2729 10 35 22 45 168 131 151 90 844 493 1352 786 l245 141 3 -1382\
      c1 -760 -1 -1385 -5 -1389z')
      path(d='M1570 3683 l0 -179 33 -31 c82 -78 323 -230 473 -299 96 -44 298\
      -124 313 -124 8 0 11 53 9 177 l-3 177 -85 33 c-186 72 -469 227 -638 351 -35\
      26 -73 53 -83 61 -18 13 -19 8 -19 -166z m255 -100 c117 -70 333 -180 423\
      -214 l62 -24 0 -87 0 -88 -52 21 c-165 64 -366 174 -515 281 l-83 59 0 80 0\
      80 33 -24 c17 -14 77 -51 132 -84z')
      path(d='M2163 3004 c-12 -33 16 -63 96 -104 90 -45 96 -46 105 -25 13 35 -13\
      64 -93 105 -90 45 -99 47 -108 24z')
      path(d='M1852 2198 c-18 -18 -15 -64 8 -108 43 -85 130 -97 130 -17 0 85 -94\
      169 -138 125z')
a(href='/')
  svg.logo(id='logo-svg-3' version='1.0', xmlns='http://www.w3.org/2000/svg', width='105px', height='180px', viewbox='0 0 613 304.5')
    g(transform='translate(0.000000,304.5) scale(0.100000,-0.100000)', fill='#652ded')
      path(d='M2785 6029 c-642 -61 -1250 -332 -1732 -771 -231 -210 -443 -478\
      -597 -756 -322 -578 -440 -1266 -330 -1932 97 -594 393 -1168 824 -1600 566\
      -568 1313 -880 2109 -880 804 0 1539 305 2107 874 403 404 661 865 794 1416\
      151 629 84 1317 -187 1915 -220 486 -585 919 -1033 1227 -416 286 -907 462\
      -1420 508 -133 12 -405 11 -535 -1z m685 -133 c508 -81 980 -285 1368 -591\
      123 -98 329 -301 435 -430 537 -653 758 -1523 597 -2355 -23 -116 -48 -210\
      -56 -210 -3 0 -184 104 -404 230 -219 127 -418 237 -442 246 -116 41 -277 38\
      -391 -7 -26 -10 -50 -19 -52 -19 -3 0 -5 470 -5 1044 l0 1043 -577 333 c-318\
      183 -581 335 -585 337 -9 4 -1876 -1073 -1906 -1101 -61 -55 -57 59 -56 -1527\
      2 -1350 3 -1448 19 -1480 47 -91 175 -201 380 -324 369 -221 667 -321 807\
      -271 21 8 461 258 978 556 l940 543 0 363 0 363 63 30 c118 58 266 61 379 8\
      42 -19 814 -460 826 -472 9 -9 -95 -265 -164 -405 -95 -190 -163 -301 -279\
      -455 -475 -629 -1177 -1030 -1960 -1121 -177 -20 -586 -15 -740 10 -855 139\
      -1559 604 -2015 1329 -458 730 -554 1666 -254 2482 364 988 1255 1709 2284\
      1849 63 9 129 18 145 20 79 11 565 -3 665 -18z m388 -782 c273 -158 498 -287\
      499 -288 1 -1 -203 -121 -455 -266 -765 -442 -1253 -728 -1287 -754 -18 -14\
      -41 -42 -51 -63 -18 -37 -19 -88 -22 -1442 l-2 -1404 -61 7 c-234 24 -807 332\
      -946 508 l-33 41 0 1437 c0 1316 1 1439 16 1451 24 20 1826 1059 1837 1059 4\
      0 232 -129 505 -286z m555 -3145 c-9 -9 -1742 -1009 -1760 -1016 -17 -7 -19\
      2670 -3 2729 10 35 22 45 168 131 151 90 844 493 1352 786 l245 141 3 -1382\
      c1 -760 -1 -1385 -5 -1389z')
      path(d='M1570 3683 l0 -179 33 -31 c82 -78 323 -230 473 -299 96 -44 298\
      -124 313 -124 8 0 11 53 9 177 l-3 177 -85 33 c-186 72 -469 227 -638 351 -35\
      26 -73 53 -83 61 -18 13 -19 8 -19 -166z m255 -100 c117 -70 333 -180 423\
      -214 l62 -24 0 -87 0 -88 -52 21 c-165 64 -366 174 -515 281 l-83 59 0 80 0\
      80 33 -24 c17 -14 77 -51 132 -84z')
      path(d='M2163 3004 c-12 -33 16 -63 96 -104 90 -45 96 -46 105 -25 13 35 -13\
      64 -93 105 -90 45 -99 47 -108 24z')
      path(d='M1852 2198 c-18 -18 -15 -64 8 -108 43 -85 130 -97 130 -17 0 85 -94\
      169 -138 125z')