extends base

block site_body
  section#health
    .container
      h1.section-title Computer Lab Health

      h3.headings We design innovative healthcare solutions

      p We understand that each hospital, practice and healthcare system has its own unique blend of technology. We work to find practical solutions within the framework of today’s leading mix of healthcare information technologies and best practices. We ask the right questions during the discovery phase, and we listen closely to your answers. Then, working side by side with your staff, we create innovative, custom-tailored solutions that meet established objectives. We monitor the plan and adapt as needed to most effectively achieve the best outcome.

      //.gallery  
        a.btn.btn-default.wow.fadeIn.read-more(href='/') Services
        a.btn.btn-default.wow.fadeIn.read-more(href='/') Projects
        a.btn.btn-default.wow.fadeIn.read-more(href='/') SOMETHING


      h3.headings Services
      ul
       li A UX design system that accelerates design and specification
       li Reusable UI code library to reduce development time and cost
       li Ongoing user validation and usability testing
       li Consistent, reponsive user experience across desktops, tablets and phones
       li Faster time-to-market
       li Reduced internal skill levels to design and build UX
       li Measurable bottom line gains from UX

      h3.headings Projects
      ul
        li One
        li Two
        li Three
        li Four
        li Five
        li Six
      h3.headings Testimonials
      ul
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et cursus justo. Aenean nunc nibh, vestibulum vel risus non, mattis pretium veli
        li ed vel iaculis odio, sed efficitur diam. Aenean sem mauris, fermentum sit amet velit sit amet, molestie molestie ante.
        li Maecenas porttitor gravida mauris fermentum vehicula. Fusce sollicitudin luctus dui at tempus. 
        li Integer non cursus nulla. Donec ornare turpis non magna ornare, eget bibendum metus ullamcorper. Integer vel ex nibh. Nulla eu facilisis mi.

      Br


    .gallery.text-center
        img(src="/images/health.png")
        img(src="/images/health.png")
        img(src="/images/health.png")



