extends base

block site_body
  .container#archive
    .row 
      .col-xs-12.col-md-8.col-md-offset-2
        include _partial/post/entry
        include _partial/post/entry_pagination
    //- .row
    //-   .col-xs-12.col-md-8.col-md-offset-2
    //-     include _partial/site/sidebar
