extends base

block site_body
  section#public-computers
    .container
      h2.section-title We currently don't have computers for public use. 
      
      h3.section-title Here is a list of places in New York City with public computers or wifi. Click on the links for more information.

      ul
        li
          p
          a(target='_blank' href='https://www.apple.com/retail/') Apple,
          | 
          a(target='_blank' href= 'https://www.microsoft.com/en-us/store/locations/find-a-store') Best Buy,
          | 
          a(target='_blank' href='http://www.samsung.com/my/storelocator/') Microsoft,
          |  or 
          a(target='_blank' href='http://www.bestbuy.com/site/store-locator') Samsung stores
          p Computers on display can be used for personal use.

        li
          p
          a(target='_blank' href='https://www.bklynlibrary.org/use-the-library/tech') Brooklyn Public Library
          p Public computers, laptops, and wifi available for those with a library card. Printers, copiers, and scanners available for a fee. 

        li
          p
          a(target='_blank' href='https://www.yelp.com/search?find_desc=Coffee+Shops+Free+Wifi&find_loc=New+York%2C+NY') Coffee shops
          p Various coffee houses and restaurants have free wifi that can be accessed by the public. Food and drink available also.

        li
          p
          a(target='_blank' href='https://foursquare.com/v/terminal-d-delta-terminal/4ace64bef964a52053d020e3') Delta terminal at Laguardia Airport
          p 2,500 iPads available for people waiting for flights. 

        li
          p
          a(target='_blank' href='https://www.powrplnt.org/') Digital Vans
          p Three mobile computer labs travel around NYC to provide internet access and computers. Free for NYCHA residents and members of the community. 
        li
          p
          a(target='_blank' href='http://www.fedex.com/us/office/computer-rental.html') FedEx
          |  or 
          a(target='_blank' href='https://www.theupsstore.com/store-services/computer-access') UPS stores
          p Computers available for internet access. Printers and scanners available. Costs money.

        li
          p
          a(target='_blank' href='https://www.timeout.com/newyork/hotels/best-hotel-lobbies-with-free-wi-fi') Hotel lobbies
          p Various hotel lobbies have free wifi that can be accessed by the public. Food and drink available also.

        li
          p
          a(target='_blank' href='https://www.nycgovparks.org/crc') New York City Parks Computer Resource Centers
          p Computer classes, internet access, professional software and training available. Membership required. 

        li
          p 
          a(target='_blank' href='https://www.nypl.org/node/62040') New York Public Library
          p Public computers available with access to library catalog and electronic resources. Library card required for access to internet on public computers. Free wifi available for those who bring their own laptops. 

        li
          p
          a(target='_blank' href='https://www.powrplnt.org/') POWRPLNT
          p Gallery space, internet lounge, and computers for people interested in digital art. Classes available as well.

      ul
        p.more If you know of any other locations with public computers or wifi, please email us: hi@computerlab.io.











