extends base

block site_body
  section#public-computers
    .container
      h1.section-title We don't currently offer computers for public use. 
      p.page-description Here's a list of places in New York City with public computers or WiFi. Click on the links below for more information.

      ul
        li
          p
          a(target='_blank' href='https://www.bklynlibrary.org/use-the-library/tech') Brooklyn Public Library
          p Public computers, laptops, and WiFi available for free for those with a library card. Printers, copiers, and scanners available for a fee. 

        li
          p 
          a(target='_blank' href='https://www.nypl.org/node/62040') New York Public Library
          p Public computers available with access to library catalog and electronic resources. Library card required for access to internet on public computers. Free WiFi available for those who bring their own laptops. 

        li
          p
          a(target='_blank' href='https://www.nycgovparks.org/crc') New York City Parks Computer Resource Centers
          p Computer classes, internet access, professional software and training available. Membership required.

        li
          p
          a(target='_blank' href='http://www1.nyc.gov/site/nycha/residents/digital-van.page') Digital Vans
          p Three mobile computer labs travel around NYC to provide internet access and computers. Free for NYCHA residents and members of the community.
        li
          p
          a(target='_blank' href='http://www.fedex.com/us/office/computer-rental.html') FedEx
          |  or 
          a(target='_blank' href='https://www.theupsstore.com/store-services/computer-access') UPS stores
          p Computers, printers, and scanners available for a fee.

        li
          p
          a(target='_blank' href='https://www.apple.com/retail/') Apple,
          | 
          a(target='_blank' href= 'https://www.microsoft.com/en-us/store/locations/find-a-store') Best Buy,
          | 
          a(target='_blank' href='http://www.samsung.com/my/storelocator/') Microsoft,
          |  or 
          a(target='_blank' href='http://www.bestbuy.com/site/store-locator') Samsung stores
          p Computers on display can be used for personal use.

        li
          p
          a(target='_blank' href='https://www.powrplnt.org/') POWRPLNT
          p Gallery space, internet lounge, and computers for people interested in digital art. Classes available as well.

        li
          p
          a(target='_blank' href='https://www.timeout.com/newyork/hotels/best-hotel-lobbies-with-free-wi-fi') Hotel lobbies
          p Various hotel lobbies have free WiFi that can be accessed by the public. Some offer computers as well.

      p.more
        | If you know of any other locations with public computers, please email us at 
        a(href='mailto:hi@computerlab.io?Subject=Inquiry') hi@computerlab.io.
        |  Or to edit 
        a.more(target='_blank' href='https://github.com/computer-lab/computerlab.io/blob/master/themes/computer-lab/layout/public-computers.jade') this page
        |  directly, feel free to make a pull request to the GitHub repo.

      a.btn.btn-default.wow.fadeIn.read-more(href='/') Return Home
        br

