extends base

block site_body
  section#public-computers
    .container
      h2.section-title If you need to use a computer, consider:
      ul
        li
          p 
          a(target='_blank' href='https://www.nypl.org/locations/') New York Public Library 
          
        li
          p
          a(target='_blank' href='https://www.nycgovparks.org/facilities/crc/locations') New York City Parks Computer Resource Centers
         li
          p
          a(target='_blank' href='https://www.apple.com/retail/') Apple,
          | 
          a(target='_blank' href= 'https://www.microsoft.com/en-us/store/locations/find-a-store') Microsoft,
          |  or 
          a(target='_blank' href='http://www.samsung.com/my/storelocator/') Samsung stores
         li
          p
          a(target='_blank' href='http://www.bestbuy.com/site/store-locator') Best Buy stores
         li
          p
          a(target='_blank' href='https://foursquare.com/v/terminal-d-delta-terminal/4ace64bef964a52053d020e3') Delta terminal at Laguardia Airport
         li
          p
          a(target='_blank' href='https://www.timeout.com/newyork/hotels/best-hotel-lobbies-with-free-wi-fi') Hotel Lobbies
         li
          p
          a(target='_blank' href='https://www.ups.com/dropoff') UPS*
          |  or 
          a(target='_blank' href='https://www.fedex.com/locate/') FedEx stores*
      ul

        p *Costs money

         




