extends base

block site_body
  section#residency
    .container
      h1.section-title The Computer Lab Residency
      p.page-description The Computer Lab residency is a six-week program that provides writers a desk within our TriBeCa office, technical support from the Computer Lab team, and opportunities to host or participate in events at our space. 
      p.attributes We're partically interested in writers who hope to:
      ul
        li Experiment with the definition of literature
        li Criticize or explore the software industry
        li Self-publish
        li Organize action online or irl
        li Explore the notion of "text as virtual reality"
      
      p.closing The residency currently includes 24/7 office access, a large external monitor, a case of Ito En tea products, and a bottle of Hennessy Cognac. Please submit a brief proposal to hi@computerlab.io for consideration. 
    .gallery    
      img(src="/images/people-in-office.jpg")
      img(src="/images/person-at-comp.jpg")
      img(src="/images/computer-space.jpg")