@font-face {
  font-family: 'Quadraat';
  src: url('../fonts/Quadraat.eot');
  src: url('../fonts/Quadraat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quadraat.woff') format('woff'),
    url('../fonts/Quadraat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quadraat Sans';
  src: url('../fonts/Quadraat-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quadraat Sans Demibold';
  src: url('../fonts/Quadraatsanspro-demibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quadraat Sans Light';
  src: url('../fonts/Quadraatsanspro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
