html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: $white; 
  overflow-x: hidden;
  
  // sticky footer
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  #content {
    background-color: $white;
    margin: $base-spacing * 2 0;
    flex: 1;
  }  

  @media (max-width: $tablet) {
    .row {
      padding: 0 $base-spacing-small * 4;
    }
  }

}

.content-section {
  padding: $base-spacing * 4 0; 
  height: auto;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }

  @media (max-width: $tablet) {
    padding: $base-spacing * 2 0;
  }

  h1.section-title {
    margin: 0 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: $tablet) {
      margin: $base-spacing * 2 0 $base-spacing;
      text-align: left;
    }
  }

  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: $tablet) {
        display: block;
      } 
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;
    font-size: 21px;
    line-height: 2em; 
  }
}

body.index {

  #content {
    background-color: $white;
    margin: $menu-collapse-height 0 0;
    flex: 1;
  }
}

ul {
  padding: 0 25px;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.video-container iframe {
  width: 100%;
  height: 400px;

}
