// _variables.scss


// brand colors
$copy: #494949;
$border-grey: #F0F0F2;
$light-grey: #FAFAFA;
$alt-white: #FAFAFA;
$white: #FFF;
$grey: #B1B1B1;

// see config.yml for brand colors for svgs
$brand: rgba(40, 40, 40,1);
$accent: rgba(12, 9, 75, 1);
$secondary: #B1B1B1; //#00cb98;

// spacing
$base-spacing: 15px;
$base-spacing-small: 5px;

// all content will be set this far off the top of the page by default
$menu-collapse-height: 65px;
$menu-height: 70px;

// device sizes
$tablet: 1024px;
$mobile: 769px;
