svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='431px', height='151px', viewbox='-66 -142.5 431 151', enable-background='new -66 -142.5 431 151', xml:space='preserve', fill='#652ded')
  g
    g
      rect(x='121.593', y='-98.531', width='19.915', height='68.557')
      polygon(points='264.991,-98.531 264.991,-72.629 241.208,-72.629 241.208,-98.531 221.291,-98.531 221.291,-29.975     241.208,-29.975 241.208,-55.357 264.991,-55.357 264.991,-29.975 284.906,-29.975 284.906,-98.531   ')
      polygon(points='337.931,-29.975 337.931,-56.807 364.476,-98.531 341.91,-98.531 327.977,-75.571 314.046,-98.531     291.484,-98.531 318.027,-56.807 318.027,-29.975   ')
      path(d='M191.948-98.531c-8.46,0-17.733,0-17.733,0h-19.908v68.557h19.908v-18.164c0,0,9.273,0,17.733,0    c8.459,0,23.056-8.137,23.056-25.225S200.407-98.531,191.948-98.531z M186.957-64.796c-2.328,0-12.742,0-12.742,0v-17.079    c0,0,10.414,0,12.742,0c4.9,0,8.807,4.262,8.807,8.513C195.764-69.115,191.857-64.796,186.957-64.796z')
      path(d='M110.423-42.219v-29.925H76.785v15.337h17.389v9.031c0,0-6.41,3.274-12.396,3.274c-5.988,0-19.238-2.136-19.238-20.946    c0-16.105,12.541-19.097,18.668-19.097c9.546,0,15.673,6.553,15.673,6.553l10.979-11.541c0,0-8.695-11.118-27.082-11.118    c-18.379,0-37.624,11.509-37.624,36.396c0,23.033,15.245,36.568,36.913,36.568C105-27.684,110.423-42.219,110.423-42.219z')
    g
      rect(x='-66', y='-99.351', fill='#652ded', width='8.892', height='69.376')
      rect(x='-3.752', y='-81.566', fill='#652ded', width='8.896', height='51.591')
      rect(x='-66', y='-29.975', fill='#652ded', width='71.145', height='8.894')
      rect(x='-66', y='-108.246', fill='#652ded', width='44.463', height='8.895')
      polygon(fill='#652ded', points='-3.752,-90.457 -3.752,-99.351 -12.641,-99.351 -12.641,-108.246 -21.537,-108.246     -21.537,-81.566 5.145,-81.566 5.145,-90.457   ')
      rect(x='-3.752', y='-81.566', fill='#652ded', width='8.896', height='8.895')
