svg#keyboard-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 102.86 102.86')
  defs
    style.
      .cls-key-1,.cls-key-3{fill:none;stroke:#652ded;stroke-width:1.8px;}.cls-key-1{stroke-miterlimit:10;}.cls-key-2{fill:#fff;}.cls-key-3{stroke-linejoin:round;}
  g#Layer_2(data-name='Layer 2')
    g#Layer_1-2(data-name='Layer 1')
      g#_Group_(data-name='<Group>')
        circle#_Path_.cls-key-1(data-name='<Path>', cx='51.43', cy='51.43', r='50.76')
        g#_Group_2(data-name='<Group>')
          line#_Path_2.cls-key-1(data-name='<Path>', x1='17.24', y1='46.92', x2='17.24', y2='71.83')
          line#_Path_3.cls-key-1(data-name='<Path>', x1='22.04', y1='46.92', x2='22.04', y2='71.83')
          line#_Path_4.cls-key-1(data-name='<Path>', x1='26.85', y1='46.92', x2='26.85', y2='71.83')
          line#_Path_5.cls-key-1(data-name='<Path>', x1='31.65', y1='46.92', x2='31.65', y2='71.83')
          line#_Path_6.cls-key-1(data-name='<Path>', x1='36.45', y1='46.92', x2='36.45', y2='71.83')
          line#_Path_7.cls-key-1(data-name='<Path>', x1='41.26', y1='46.92', x2='41.26', y2='66.84')
          line#_Path_8.cls-key-1(data-name='<Path>', x1='46.06', y1='46.92', x2='46.06', y2='66.84')
          path#_Path_9.cls-key-1(data-name='<Path>', d='M46.06.67c3.91,3.43,7.3,6,7.3,12.08,0,7-7.2,11.79-8.24,18-1.1,6.58.93,10.61,5.74,16.33v14.8')
          line#_Path_10.cls-key-1(data-name='<Path>', x1='55.67', y1='46.92', x2='55.67', y2='66.84')
          line#_Path_11.cls-key-1(data-name='<Path>', x1='60.47', y1='46.92', x2='60.47', y2='66.84')
          line#_Path_12.cls-key-1(data-name='<Path>', x1='65.27', y1='46.92', x2='65.27', y2='71.83')
          line#_Path_13.cls-key-1(data-name='<Path>', x1='70.08', y1='46.92', x2='70.08', y2='71.83')
          line#_Path_14.cls-key-1(data-name='<Path>', x1='74.88', y1='46.92', x2='74.88', y2='71.83')
          line#_Path_15.cls-key-1(data-name='<Path>', x1='79.68', y1='46.92', x2='79.68', y2='71.83')
          line#_Path_16.cls-key-1(data-name='<Path>', x1='84.49', y1='46.92', x2='84.49', y2='71.83')
          path#_Path_17.cls-key-1(data-name='<Path>', d='M94.09,71.83')
          path#_Path_18.cls-key-1(data-name='<Path>', d='M94.09,46.92')
          path#_Path_19.cls-key-1(data-name='<Path>', d='M98.9,71.83')
          path#_Path_20.cls-key-1(data-name='<Path>', d='M98.9,46.92')
          line#_Path_21.cls-key-1(data-name='<Path>', x1='89.06', y1='66.84', x2='12.33', y2='66.84')
          line#_Path_22.cls-key-1(data-name='<Path>', x1='89.06', y1='61.86', x2='12.33', y2='61.86')
          line#_Path_23.cls-key-1(data-name='<Path>', x1='89.06', y1='56.88', x2='12.33', y2='56.88')
          line#_Path_24.cls-key-1(data-name='<Path>', x1='89.06', y1='51.9', x2='12.33', y2='51.9')
          rect#_Rectangle_.cls-key-2(data-name='<Rectangle>', x='37.1', y='67.43', width='27.5', height='3.8')
          rect#_Rectangle_2.cls-key-3(data-name='<Rectangle>', x='12.33', y='46.92', width='76.73', height='24.91')
