svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 102.84 102.84')
  defs
    style.
      .cls-1-mouse,.cls-2-mouse{fill:none;stroke:#652ded;stroke-width:1.8px;}.cls-1-mouse{stroke-miterlimit:10;}.cls-2-mouse{stroke-linejoin:round;}
  title Asset 2
  g#Layer_2(data-name='Layer 2')
    g#Layer_1-2(data-name='Layer 1')
      circle#_Path_.cls-1-mouse(data-name='<Path>', cx='51.42', cy='51.42', r='50.76', transform='translate(-21.3 51.42) rotate(-45)')
      path#_Path_2.cls-1-mouse(data-name='<Path>', d='M83,11.22c-.25,3-1.09,7.07-4.19,9.37-2.71,2-5.16,1.19-8.27,2.89C68.3,24.72,65.48,27.39,63.82,34')
      path#_Path_3.cls-1-mouse(data-name='<Path>', d='M97.1,76')
      path#_Path_4.cls-1-mouse(data-name='<Path>', d='M97.1,51.05')
      rect#_Rectangle_.cls-2-mouse(data-name='<Rectangle>', x='19.4', y='38.06', width='54.99', height='35.75', transform='translate(119.62 62.33) rotate(135)')
      rect#_Path_5.cls-2-mouse(data-name='<Path>', x='26.98', y='70.65', width='3.28', height='7.15', transform='translate(-44.1 41.97) rotate(-45)')
      rect#_Rectangle_2.cls-2-mouse(data-name='<Rectangle>', x='46.55', y='49.63', width='9.74', height='3.58', transform='translate(124.14 51.42) rotate(135)')
      line#_Path_6.cls-1-mouse(data-name='<Path>', x1='54.86', y1='47.97', x2='66.34', y2='36.49')
      line#_Path_7.cls-1-mouse(data-name='<Path>', x1='51.51', y1='53.86', x2='62.89', y2='65.23')
      line#_Path_8.cls-1-mouse(data-name='<Path>', x1='37.6', y1='39.95', x2='48.98', y2='51.33')
